.Wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0px;
  border-bottom: 1px solid #eaeaea;
  min-width: 100%;
}

/* .LogoArea {

} */

.SearchArea{
  min-width: 180px;
  width: 35%;
}

.AccountsArea {
  display: inline;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
