.Wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0px;
  border-bottom: 1px solid #eaeaea;
  min-width: 100%;
}

.CartAcct {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
